<!DOCTYPE html>
<html lang="en">
<head>

    <title>VacuumDrop - Quickly Share Files to your PC</title>
    <link rel="stylesheet" href="/css/SendFromPhone.css">
    <%- include('../partials/_header') %>
    <script src="https://kit.fontawesome.com/6147d60203.js" crossorigin="anonymous"></script>

</head>
<body>
<%- include('../partials/_navbar') %>
<form id="FileForm" action="/SendData" method="post" enctype="multipart/form-data">
     <h2 id="FormTitle">Send Files from non VacuumHost Device (Phone) to VacuumHost</h2>
     <div class="FileFormFields">
         <label for="BatchName">Name: </label>
         <input type="text" name="BatchName" id="BatchName" required>
     </div>
     <div id="FileInputsDiv">
         <div class="FileFormFields" id="FileInput-1">
             <input type="file" name="File-1" id="File-1" class="File">
         </div>
     </div>

    <button type="submit" id="Submit">Send</button>
</form>
<div class="FileFormFields">
    <button onclick="AddFileInput()" id="AddNewFile"><img src="/Images/plus.png" width="25px"/> Add Another File</button>
</div>

     <script src="/js/SendFromPhone.js"></script>
</body>
</html>